{% extends 'Base.html' %}

{% block content %}
<main class="container py=5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Inicio</h1>
        <p>Lorem(100) ipsum dolor sit amet consectetur adipisicing elit. Delectus magni cum excepturi a quaerat id
            consequatur, debitis, ipsa pariatur iure doloremque ipsum culpa dolores veniam quis. Maxime non molestias optio!
        </p>
        <div class="text-center">
            <a class="btn btn-primary" href="/Iniciar_Sesion/">
                Iniciar Sesión
            </a>
            <a class="btn btn-primary" href="/Registrar_Usuario/">
                Registrar Usuario
            </a>
        </div>
    </section>
</main>

{% endblock %}
